/* BUTTON STYLES ONLY %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


li button {
    margin: 0 .15em;
    border: none;
    background: inherit;
}

.alert-banner-close, 
li button {
    cursor: pointer;
}

#send-button,
#save-button,
#cancel-button {
    height: 3em;
    padding: .25em;
    font-size: .6rem;
    border-radius: 3px;
    border: none;
}

#save-button,
#cancel-button {
    width: 45%;
}

.active {
    border-radius: 1em;
    background-color: $active-color;
    color: white;
}

.notification-dot {
    fill: #FF6B6B;
    stroke: #FFF;
    stroke-width: 0.1em;
    // top: -5px;
    // left: -10px;
    // font-size: 12px;
    // color: #FFF;
    // text-align: center;
}