//IMAGE STYLES ONLY 

#bell {
    width: 4.5em;
    @include mq(s) {
        width: 4em;
    }
}

.profile-photo {
    border-radius: 50%;
    width: 3.2em;
}

nav img {
    width: 2em;
    max-width: 2em;
    margin: .75em 1em;
}

.circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.social-icons {
    width: 1em; 
}

#facebook {
    width: 1.5em;
}

#social-container li {
    display: inherit;
    margin: 1em;
    border: 1px solid lightgray;
    padding: .75em;
}

.member-photo {
    min-width: 2.5em;
    max-width: 3em;
    border-radius: 50%;
    @include mq(s) {
        max-width: 4em;
    }
    @include mq(l) {
        max-width: 5em;
    }
}

//CHARTS

.donut-wrapper,
.bar-wrapper,
#traffic-chart-container, 
canvas {
    @include center;
}

.donut-wrapper {
    max-height: 75%;
}

.donut-wrapper,
.bar-wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 75%;
    @include mq(s) {
        width: 75%;
    }
    @include mq(m) {
        width: 70%;
    }
}

#traffic-chart-container {
    padding-bottom: 1rem;
    position: relative;
    height: 30vh;
    width: 90vw;
    @include mq(l) {
        max-width: 85vw;
        height: 40vh;
    }
}

canvas {
    display: block;
}













